.header2 {
  display: block;
  background-color: #F5F5F5; /*eggshell*/
  height: 7em;
  font-size: 2em;
	overflow: hidden;
	border:2px;
  
}

.h1logocontainer {
    width:100%;
    height: 7em;
    margin-left: auto;
    margin-right: auto;
	border:2px;
    
    
}

.h1logohelper {
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom:auto;
	border:2px;
  text-align: center;
    
}

.hr {
  display:block;
  position: relative; 
  top: 0; 
  left: 0; 
  width: 100%;   
}  



.hr2helper {
  display:block;
  width: 80%;  
  color: #031424;  /* ultramarine */ 
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}
       

h1 {
  text-align: center;
  color:#CF6766;  /* crimson  */ 
  font-family: Oswald, Arial, sans-serif;
  font-weight:400;
  font-size: 48px;
  line-height: 120px;
	overflow: hidden;
  

  
}	


section {
  
    
    height: 3em;
    color: #031424; /* ultramarine */ 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
	overflow: hidden;

    
    
}

.topnavigationcontainer {
  
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    height: 3em;
    
  

}

.topnavigation {
  position: absolute;
  font-family: Oswald, Arial, sans-serif;
    top: 50%;
    left:50%;
    transform: translate(-48%, -30%);

  text-align: center;
  font-size: 16px;
  
  
  
}

a {
    color:#031424; /* ultramarine */ 
    text-decoration: none;
    padding:10px;
}
a:hover {
    text-decoration: underline;
}


body {
    display:block; 
    background-color: #F5F5F5; /*eggshell*/ 
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 16px;
	 
}


h2 {
	
    display:block;
    font-size: 24px;
    color: #031424; /* ultramarine */    
    font-family: Rasa, "Century Schoolbook", serif;
    font-weight: 600;
	overflow: hidden;
}


h3 {
    font-size: 18px;
    color: grey;
    font-family: Rasa, "Century Schoolbook", serif;
    font-weight: 600;
	overflow: hidden;
}
p {
    font-family: Rasa, "Century Schoolbook", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
	
}

.frontpagebox {
	display:inline;
	width: 100%;	
}

.blurb {
    float: left;
    display:inline;
    

}

.blurb2 {
    display:block;
    padding-left:4%;
    padding-top:2%;
    padding-bottom:5%;
	

  
  
}

.cvblurb {
	
    display:block;
    height: 7em;
    padding-left:4%;
    padding-top:2%;
    padding-bottom:5%;
    margin-right: auto;
    margin-left: auto;
    margin-top:auto;
    margin-bottom:auto;
	
	
	
	
}

p2 {
    display:block; 
    font-family: Rasa, "Century Schoolbook",  serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #031424; /* ultramarine */ 
    display: block;
    text-align:justify;
    padding-bottom:5%;
	
  
}

.cvboxcentering {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
     
}
.imagebox {
    display:inline;
    

}
.imagecenter{
    display: block;
    text-align:center;
   
}



footer {
    
    display:block;
    height: 10em;
    margin-right: auto;
    margin-left: auto;
    margin-top:auto;
    margin-bottom:auto;
	
    
}

ul {
      list-style: none;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-top:auto;
      margin-bottom:auto;
      padding: 35px;
      font-family: Oswald, Arial, sans-serif;
      color: #333;
      font-size: 16px;
      line-height: 24px;
    
}

ul li {
      display: inline;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-top:auto;
      margin-bottom:auto;
}
