.h1logocontainer {
    width:100%;
    height: 192px;
	display:block;
    background-color: #ffffff; /*__*/
	
	 
}

.h1logohelper {
	display:block;
	width:100%;
	height: 64px;
        margin-left: auto;
        margin-right: auto;
  	margin-top:66px;
  	margin-bottom:66px;
	
	
	
  
    
}

.header2 {
  display: block;
  height:64px;
  width:100%
  font-size: 64px;
  text-align: center;
	
	
	
  
}

.hr {
  display:block;
  top: 0; 
  left: 0; 
  width: 100%;   
}  



.hr2helper {
  display:block;
  width: 80%;  
  color: #031424;  /* ultramarine */ 
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}
       

h1 {
  text-align: center;
  color:#FF3B3F;  /* watermelon  */ 
  font-family: Oswald, Arial, sans-serif;
  font-weight:400;
  font-size: 62px;
	overflow: hidden;
  

  
}	


section {
  
    
    position: relative;
    color: #031424; /* ultramarine */ 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    height: 48px;
	overflow: hidden;
	
	
	
    
    
}

.topnavigationhelper {	
	height: 16px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 16px;
	margin-top: 16px;
	
}


.topnavigation {
  font-family: Oswald, Arial, sans-serif;
  text-align: center;
  vertical-align:middle;
  font-size: 14px;
	
	
 
  
  
}

a {
    color:#031424; /* ultramarine */ 
    text-decoration: none;
    padding:10px;
}
a:hover {
    text-decoration: underline;
}


body {
    display:block; 
    padding:20px;
    background-color: #ffffff; /*__*/ 
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-top: auto;
    font-size: 16px;
	 
}


h2 {
	
    display:block;
    font-size: 24px;
    color: #031424; /* ultramarine */    
    font-family: Rasa, "Century Schoolbook", serif;
    font-weight: 600;
	overflow: hidden;
}


h3 {
    font-size: 18px;
    color: grey;
    font-family: Rasa, "Century Schoolbook", serif;
    font-weight: 600;
	overflow: hidden;
}
p {
    font-family: Rasa, "Century Schoolbook", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
	
}

.frontpagebox {
	display:inline;
	width: 100%;	
	
}

.blurb {
    float: left;
    display:inline;
    margin:16px;
    

}

.cvblurb {
	
    display:block;
    height: 7em;
    padding-left:4%;
    padding-top:2%;
    padding-bottom:5%;
    margin-right: auto;
    margin-left: auto;
    margin-top:auto;
    margin-bottom:auto;
	
	
	
	
}

p2 {
    display:block; 
    font-family: Rasa, "Century Schoolbook",  serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #031424; /* ultramarine */ 
    display: block;
    text-align:justify;
    padding-bottom:5%;
	
  
}

p3 {
    display:block; 
    font-family: Lobster, cursive;
    font-weight: 400;
    font-size: 48px;
    line-height: 24px;
    background-color: #031424; /* ultramarine */ 
	color: #8EAEBD; /* lightblue */ 
    display: block;
    text-align:justify;
    padding-bottom:5%;
	
  
}

.cvboxcentering {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
     
}
.imagebox {
    display:inline;
    margin:16px;
    

}
.imagecenter{
    display: block;
    text-align: center; 
   
}



footer {
    
    display:block;
    height: 10em;
    margin-right: auto;
    margin-left: auto;
    margin-top:auto;
    margin-bottom:auto;
	
    
}

ul {
      list-style: none;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-top:auto;
      margin-bottom:auto;
      padding: 35px;
      font-family: Oswald, Arial, sans-serif;
      color: #333;
      font-size: 16px;
      line-height: 24px;
    
}

ul li {
      display: inline;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-top:auto;
      margin-bottom:auto;
}


.clear {
  clear: left;}
