.h1logocontainer {
    width:100%;
    height: 100px;
    display:block;
    background-color: #f7f5e6; /*fresh*/
	
	 
}

.h1logohelper {
	display:block;
	width:100%;
	height: 64px;
        margin-left: auto;
        margin-right: auto;
  	margin-top:18px;
  	margin-bottom:18px;
	
	
	
  
    
}

.header2 {
  display: block;
  height:64px;
  width:100%
  font-size: 64px;
  text-align: center;
	
	
	
  
}

.hr {
  display:block;
  top: 0; 
  left: 0; 
  width: 100%;   
}  



.hr2helper {
  display:block;
  width: 100%;  
  color:#373737;  /* charcoal  */ 
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}
       

h1 {
  text-align: center;
  color:#373737;  /* charcoal  */ 
  font-family: Oswald, Arial, sans-serif;
  font-weight:400;
  font-size: 62px;
	overflow: hidden;
  

  
}	


section {
  
    background-color: #333a56; /* vermillion */
    position: relative;
    color: #e8e8e8; /* clean*/ 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    height: 48px;
	overflow: hidden;
	
	
	
    
    
}

.topnavigationhelper {	
	height: 16px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 16px;
	margin-top: 16px;
	
}


.topnavigation {
  font-family: Oswald, Arial, sans-serif;
  text-align: center;
  vertical-align:middle;
  font-size: 14px;
	
	
 
  
  
}

a {
     
    text-decoration: none;
    padding:10px;
}
a:hover {
    text-decoration: underline;
}


body {
    display:inline;
    height: 450px;
    font-size: 16px;
    background-color: #f7f5e6; /*fresh*/ 
	
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    margin-top: 40px;
    
	 
}


h2 {
	
    display:block;
    font-size: 24px;
    color:#373737;  /* charcoal  */     
    font-family: Rasa, "Century Schoolbook", serif;
    font-weight: 600;
	overflow: hidden;
}


h3 {
    font-size: 18px;
    color: grey;
    font-family: Rasa, "Century Schoolbook", serif;
    font-weight: 600;
	overflow: hidden;
}

h4 {
    display:block; 
    font-family: Lobster, cursive;
    font-weight: 400;
    font-size: 32px;
    color: #333a56; /* vermillion */ 
    display: block;
    text-align:justify;
    padding-bottom:5%;
	
  
}
p {
    font-family: Rasa, "Century Schoolbook", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#373737;  /* charcoal  */ 
	
}

.blurb {
    float: left;
    display:block;
	
	
   
    

}
.imagebox {
height:450px;
width:300px;
	
}

.cvblurb {
	
    display:block;
    height: 7em;
    padding-left:4%;
    padding-top:2%;
    padding-bottom:5%;
    margin-right: auto;
    margin-left: auto;
    margin-top:auto;
    margin-bottom:auto;
	
	
	
	
}

p2 {
    display:block; 
    font-family: Rasa, "Century Schoolbook",  serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#373737;  /* charcoal  */ 
    text-align:justify;
    padding-bottom:5%;
	
  
}

.p3box{
height:450px;	
background-color: #52658f; /* accent blue */ 
}

p3 {
    display:block; 
    font-family: Lobster, cursive;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    
	color:  #e8e8e8; /* clean */ 
    text-align:left;
	
   
	
  
}

.cvboxcentering {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
     
}



footer {
    background-color:#f7f5e6; /* fresh */ 
    display:block;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top:auto;
    margin-bottom:auto;
	
    
}

ul {
      list-style: none;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-top:auto;
      margin-bottom:auto;
      padding: 35px;
      font-family: Oswald, Arial, sans-serif;
      color:#373737;  /* charcoal  */ 
      font-size: 14px;
      line-height: 24px;
    
}

ul li {
      display: inline;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-top:auto;
      margin-bottom:auto;
}


.clear {
  clear: left;}
