<!DOCTYPE html>
	<html>
		<div class="hr">
		<hr style="height:2px;border-width:0;color:black;background-color:black">
		</div>
		{% include analytics.html %}
		<head>
			
		
			<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		
		<header>
			
			 <div class="h1logocontainer">
			 <div class="h1logohelper">
		         
		         <h1>Jap-Nanak Makkar</h1>
        		
    			</div>
			</div>
		</header>
		<div class="hr2helper">
			<div class="hr2">
				<hr style="height:2px;border-width:0;color:#031424;background-color:#031424;">
			</div>
		</div>
		
		<section>
		
			<div class="topnavigationcontainer">
			<div class="topnavigation">
			<div align="center">   
	        		<a href="/cv">CV</a>
	        		<a href="/publications">Publications</a>
	        		<a href="/teaching">Teaching</a>
				<a href="/">About</a>
			</div>
			</div>
			</div>
		</section>
		
		<div class="hr2helper">
			
				<hr style="height:2px;border-width:0px; color:#031424;background-color:#031424;">
			
		</div>
		<body>
			

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
		
		
		
			
			<footer>
				<div class="hr2helper">
			
				<hr style="height:2px;border-width:0;color:#031424;background-color:#031424;">
			
			</div>
	    		<ul>
	        		<li><a href="mailto:jkm5ar@virginia.edu">jkm5ar@virginia.edu</a></li>
	        		<li><a href="https://jmakr.github.io">jmakr.github.io</a></li>
				</ul>
			</footer>
		
	</html>
